$primary-color: rgba(50, 143, 20, 0.81);

$text-color-primary: rgba(226,183,40,0.96);

$shadow-color: black;

$second-color: rgba(39, 143, 105, 0.81);

$content-background-color: #a9a9a9;
$content-shadow-color:rgba(10, 13, 10, 0.81);

$screen-background-color: rgba(22, 19, 14, 0.81);
$screen-color: rgba(54, 143, 90, 0.81);

$btn-background-color: #fff000;

$white: #fff;

$class-color: rgba(8,8,10,0.67);

$primary-hover-color: rgba(214, 93, 58, 0.88);

$clean-background-color: rgba(38, 60, 157, 0.88);
$clean-hover-color: rgba(17, 47, 157, 0.88);

$signs-background-color: rgba(185,160,49,0.96);
$signs-hover-color: rgba(185,150,22,0.96);
