@import "variables";

html{
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background: $primary-color;
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;

  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px;
    padding: 10px;
    color: $text-color-primary;
    text-shadow: 1px 1px 5px $shadow-color;
  }
}

.body__calc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: $second-color;

  .content {
    width: 400px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 2px 1px 26px 4px $content-shadow-color;
    padding: 20px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 85px;
    grid-gap: 20px;
    background: $content-background-color;

    .screen {
      background: $screen-background-color;
      border-radius: 10px;
      color: $screen-color;
      padding: 15px;
      grid-column: 1/5;
    }
  }
}

.screen {
  > input {
    font-size: 2.78rem;
    width: 100%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;

    .btn {
      background: $btn-background-color;

      .btn:hover, .btn:active {
        background: $white;

        .btn__radio {
          border-radius: 14px;
        }
      }
    }
  }
}

.nums, .signs, .clean {
  cursor: pointer;
  outline: none;
  border: 0;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  border-radius: 10px;
  color: $class-color;
  box-shadow: 1px 1px 1px $shadow-color;

  &:hover {
    transition-duration: 100ms;
    background: $primary-hover-color;
    color: $white;
  }
}

.clean {
  background: $clean-background-color;

  &:hover {
    transition-duration: 100ms;
    background: $clean-hover-color;
    color: $white;
  }
}

.signs {
  background: $signs-background-color;

  &:hover {
    transition-duration: 100ms;
    background: $signs-hover-color;
    color: $white;
  }
}
